---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica,Arial,sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #ffffff;
$brand-color:      #2a7ae2;
$menu-color:       #292929;

$grey-color:       #333333;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          1060px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.projects {
    @import "../_sass/bootstrap-sass-3.3.7/assets/stylesheets/_bootstrap.scss";
    @import "../gsoc/display/resources/css/style.scss";
    @import "../_sass/materialize-src/sass/materialize.scss";
    .container {
        width: 95%;
    }
    code {
        padding: 2px 4px;
        font-size: 0.9em;
        color: #ffffff;
        background-color: #194242;
        border-radius: 11px;
    }
    li {
        line-height:1.5;
    }
}
