---
layout: default
---

<div class="home">
    <p>
    OpenAstronomy is a collaboration between different open source astronomy 
    and astrophysics projects, to share ideas and improve code.
    </p>
    <p>
    You can get involved with OpenAstronomy by joining us on IRC at 
    <a href="{{ site.irc_freenode }}#{{ site.irc_channel }}">#openastronomy@freenode</a>
    or by contributing to our discussion list: <a href="mailto:{{site.email}}">{{site.email}}</a>.
    </p>

    <h2 class="page-heading">Activities</h2>
    <ul class="post-list">
      {% for mission in site.missions %}
      {% if mission.show_main %}
      <li>
          <h2>
            <a class="post-link" href="{{ mission.url | prepend: site.baseurl }}">{{ mission.title }}</a>
          </h2>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
