<footer class="site-footer">

  <div class="wrapper">
	<p class="tagline"><strong>{{ site.title }}</strong>: Combining the power of open source astrophysics projects to empower science.</p>
  <a href="https://groups.google.com/forum/#!forum/openastronomy" target="_blank">
      <span style="color:white!important;" >
          <span class="icon-white  icon-envelope" style="color:blue!important;">
	  </span>
      </span>

  </a>
  <a href="https://community.openastronomy.org">
      <img src="{{ '/img/icons/discourse_icon.png' | prepend: site.baseurl }}" alt="OpenAstronomy on Discourse">
  </a>
  <a rel="me" href="https://twitter.com/Open_Astronomy">
            <span class="icon-image  icon--github">
                <svg viewBox="0 0 16 16">
                    <path fill="#f9f9f9" d="{{ site.data.icons.twitter_logo }}"/>
                </svg>
            </span>
  </a>
  <a rel="me" href="https://astrodon.social/@OpenAstronomy">
            <span class="icon-image  icon--github">
                <svg viewBox="0 0 16 16">
                    <path fill="#f9f9f9" d="{{ site.data.icons.mastodon_logo }}"/>
                </svg>
            </span>
  </a>

  <a href="/feed.xml">
      <span class="icon-image  icon--github">
          <svg viewBox="0 0 16 16">
              <path fill="#f9f9f9" d="{{ site.data.icons.rss_logo }}"/>
          </svg>
  </a>
  <a href="https://github.com/openastronomy">
      <span class="icon-image  icon--github">
          <svg viewBox="0 0 16 16">
              <path fill="#f9f9f9" d="{{ site.data.icons.gh_logo }}"/>
          </svg>
      </span>
      <!-- <span class="username">OpenAstronomy</span> -->
  </a>
  </div>

</footer>
