<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>

            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#828282" d="{{ site.gh_logo }}"/>
                </svg>
              </span>

              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>

        </ul>
    </div>
  </div>
</footer>
