<head>

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="icon" type="image/png" href="{{ '/img/logo/logoOA_white_svg.png' | absolute_url }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="foss, open source, organisations, astronomy,
    OpenAstronomy, astrophysics, GSoC, projects, members, {{ site.members | join: ', ' }}" />
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="OpenAstronomy" />
    <!-- OGP -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="https://openastronomy.org/" />
    <meta property="og:site_name" content="OpenAstronmy" />
    <!-- OGP ends here -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% include_cached style.html %}

    <link rel="alternate" type="application/rss+xml" title="The OpenAstronomy Blog" href="{{config.site}}/feed.xml"/>
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <script src="../assets/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
     // change background images from a list.
     $(document).ready(function() {
         // list of filenames endings
         var backgrounds = ['ap', 'sp'];
         var selected = backgrounds[Math.floor(Math.random() * backgrounds.length)];
         var bgpath = "{{ site.baseurl }}/css/background_" + selected + '.jpg';
         $('body').css('background-image', 'url(' + bgpath + ')');
     });
    </script>

    {% if include.project == "true" %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.min.js" defer></script>
        <script type="text/javascript" src="{{ '/gsoc/display/data/faq.js' | prepend: site.baseurl }}"></script>
        <script>
         {% assign groups = site.projects | shuffle %}
         {% assign notwanted = "next,content,previous,output,excerpt,draft" %}
         {% capture year %}{{ page.season }}{% endcapture %}
         var year = {{ page.season }}
         var projects = [
             {% for project in groups %}{%
                 if project.relative_path contains year %}
                 {
                 {%
                   for item in project %}{% if notwanted contains item %}{% continue %}{% endif %}
                      "{{ item }}": {% if item == "url" %}{{ project[item] | prepend: site.baseurl | jsonify }}{% else %}{{ project[item] | jsonify }}{% endif %}{% unless forloop.last %},{% endunless %}{%
                   endfor %}
                 }{% unless forloop.last %},{% endunless %}{%
                 endif %}{%
              endfor %}
        ];
        </script>
        <script type="text/javascript" src="{{ '/gsoc/display/data/admins.js' | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ '/gsoc/display/vendors/angular-sanitize/angular-sanitize.js' | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ '/gsoc/display/vendors/showdown/showdown.js' | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ '/gsoc/display/vendors/markdown/markdown.js' | prepend: site.baseurl }}"></script>
        <script type="text/javascript" src="{{ '/gsoc/display/resources/js/app.js' | prepend: site.baseurl }}"></script>

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {% endif %}

</head>
