<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% include style.html %}

    <link rel="alternate" type="application/rss+xml" title="The OpenAstronomy Blog" href="{{config.site}}/feed.xml"/>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
     // change background images from a list.
     $(document).ready(function() {
         // list of filenames endings
         var backgrounds = ['ap', 'sp'];
         var selected = backgrounds[Math.floor(Math.random() * backgrounds.length)];
         var bgpath = '/css/background_' + selected + '.jpg';
         $('body').css('background-image', 'url(' + bgpath + ')');
     });
    </script>

</head>
