{% assign details = member[1] %}
<div class="media">
  <a href="{{ details.url }}">
  <img class="media-object pull-left" src="{{ '/img/members/' | append: details.logo | prepend: site.baseurl }}" alt="{{member[0]}}" />
  </a>
  <div id="{{  details.name }}" class="media-body">
      <a href="{{ details.url }}" class="project" target="_blank">{{ details.name }}</a>
      {{ details.description }}
    <br/>
    <!-- repo -->
    {% for repo in details.repositories %}
        {% if repo[0] == 'github'  %}
            {% assign name = repo[1] %}
            <a href="{{ 'https://github.com/' | append: repo[1] }}" target="_blank">
                <span class="icon  icon--github">
                    <svg viewBox="0 0 16 16">
                        <path fill="#333333" d="{{ site.data.icons.gh_logo }}"/>
                    </svg>
                </span>
        {% elsif repo[0] == "bitbucket" %}
            {% assign name = repo[1] %}
            <a href="{{ 'https://bitbucket.com/' | append: repo[1] }}" target="_blank">
                <span class="icon  icon--github">
                    <svg height="50%" viewBox="0 0 30 30">
                        <path fill="#333333" d="{{ site.data.icons.bb_logo }}"/>
                    </svg>
                </span>
        {% elsif repo[0] == "sourceforge" %}
                {% assign name = repo[1] %}
                <a href="{{ 'https://sourceforge.net/projects/' | append: repo[1] }}" target="_blank">
                    <span class="icon  icon--github">
                        <svg height="50%" viewBox="0 0 15 10">
                            <path fill="#333333" d="{{ site.data.icons.sf_logo }}"/>
                        </svg>
                    </span>
        {% else %}
            {% assign name = member[0] %}
            <a href="{{ repo[1] }}" target="_blank">
                <span class="icon  icon--cgit">
                    <img class="media-object pull-left" src="{{page.root}}/img/icons/cgit.png" alt="Cgit logo" />
                </span>
        {% endif %}
	      {{ name }}</a>
    {% endfor %}
    <br/>
    <!-- mail -->
    {% if details.mailinglist %}
        <span class="icon  icon-envelope"> </span>
        {% for list in details.mailinglist %}
            <a href="{{ list[1] }}">{{ list[0] }}</a>{% unless forloop.last %},{% endunless %}
        {% endfor %}
        <br/>
    {% endif %}
    <!-- chat -->
    {% if details.chat %}
        <span class="icon  icon--github">
            <svg viewBox="0 0 40 40" height="50%">
                <path fill="#333333" d="{{ site.data.icons.irc_logo }}"/>
            </svg>
        </span>
        {% for chat in details.chat %}
            <a href="{{ chat[1] }}">{{ chat[0] }}</a>{% unless forloop.last %},{% endunless %}
        {% endfor %}
        <br/>
    {% endif %}
  </div>
</div>
