    <!-- <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,500,500italic,700' rel='stylesheet' type='text/css'> -->
    <link href="../assets/fonts/fira-sans.css" rel="stylesheet">
    <link href="{{ '/css/bootstrap/bootstrap.css' | prepend: site.baseurl }}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ '/css/bootstrap/bootstrap-responsive.css' | prepend: site.baseurl }}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ '/css/swc.css'  | prepend: site.baseurl }}" />
    <link rel="stylesheet" type="text/css" href="{{ '/css/swc-bootstrap.css'  | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
