<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/members/astropy.png" alt="Astropy" />
  <div id="astropy" class="media-body">
    <a href="{{ site.astropy_url }}" class="project">Astropy</a>
    is a community-driven package intended to contain much of the core
    functionality and some common tools needed for performing
    astronomy and astrophysics with Python.
    <br/>
    Mailing list:
      <a href="{{ site.sunpy_mailinglist_user }}">users</a>,
      <a href="{{ site.sunpy_mailinglist_dev }}">dev</a>; <br/>
    IRC:  <a href="{{ site.irc_freenode }}#{{ site.astropy_irc }}">#astropy@freenode</a>
  </div>
</div>
