<div class="media">
  <a href="{{ site.astropy_url }}">
  <img class="media-object pull-left" src="{{page.root}}/img/members/astropy.png" alt="Astropy" />
  </a>
  <div id="astropy" class="media-body">
    <a href="{{ site.astropy_url }}" class="project">Astropy</a>
    is a community-driven package intended to contain much of the core
    functionality and some common tools needed for performing
    astronomy and astrophysics with Python.
    <br/>
 <!-- repo -->
               <a href="https://github.com/astropy/astropy">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#000000" d="{{ site.gh_logo }}"/>
                </svg>
              </span>
	      astropy/astropy</a>
    <br/>
<!-- mail -->
             <span class="icon  icon-envelope"> </span>
      <a href="{{ site.astropy_mailinglist_user }}">users</a>,
      <a href="{{ site.astropy_mailinglist_dev }}">dev</a>; <br/>
<!-- irc -->
      <a href="{{ site.irc_freenode }}#{{ site.astropy_irc }}">
              <span class="icon  icon--github">
                <svg viewBox="0 0 40 40" height="50%">
                  <path fill="#000000" d="{{ site.irc_logo }}"/>
                </svg>
              </span>
	      #astropy@freenode</a>
  </div>
</div>
