<div class="media">
  <a href="{{ site.casacore_url }}">
  <img class="media-object pull-left" src="{{page.root}}/img/members/casacore.svg" alt="CasaCore Logo" />
  </a>
  <div id="casacore" class="media-body">
    <a href="{{ site.casacore_url }}" class="project" target="_blank">Casacore</a> is a suite of c++ libraries for radio astronomy data processing.  Casacore underlies <a href="http://casa.nrao.edu/">CASA</a>, the Common Astronomy Software Applications developed by an international consortium of scientists at various institutes. Python bindings exist in <a href="http://github.com/casacore/python-casacore">Python-casacore</a>. Casacore also underlies other radio astronomy software such as <a href="https://sourceforge.net/projects/wsclean/">WSClean</a>, and LOFAR tools. Casacore is developed by the radio astro organizations around the world. It is open source and will happily merge any (good) pull requests.
    <br/>
 <!-- repo -->
                <a href="https://github.com/casacore/" target="_blank">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#333333" d="{{ site.gh_logo }}"/>
                </svg>
              </span>
	      JuliaAstro</a>
    <br/>
<!-- mail -->
<!--             <span class="icon  icon-envelope"> </span>
      <a href="{{ site.casacore_mailinglist_user }}">Mailing List</a>-->
  </div>
</div>
