<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/members/chiantipy.png" alt="Chiantipy" />
  <div id="astropy" class="media-body">
    <a href="{{ site.chiantipy_url }}" class="project">ChiantiPy</a>
    is a Python interface to the <a href=" {{ site.chianti_url }}">
      CHIANTI atomic database </a> for
    astrophysical spectroscopy.
    CHIANTI consists of a database of atomic data that can be
    used to interpret spectral lines and continua emitted from
    high-temperature, optically-thin astrophysical sources.
    <br/>
    Mailing list:
      <a href="{{ site.chiantipy_mailinglist_user }}">users</a>
  </div>
</div>
