<div class="media">
  <a href="{{ site.coin_url }}">
  <img class="media-object pull-left" src="{{ '/img/members/coin.png' | prepend: site.baseurl }}" alt="COIN " />
  </a>
  <div id="COIN" class="media-body">
    <a href="{{ site.coin_url }}" class="project" target="_blank">COIN</a> 
             (COsmostatistics INitiative) is an international working group 
             built under the auspices of the International Astrostatistics 
             Association (<a href="https://asaip.psu.edu/organizations/iaa" target="_blank">IAA</a>). 
             It aims to create an interdisciplinary environment where 
             collaborations between astronomers, statisticians and machine
             learning experts can flourish. COIN is designed to promote 
             the development of a  new family of tools for data exploration 
             in astrophysics and cosmology. 
    <br/>
 <!-- Admin -->
       COIN Admin: <a href="mailto:rafael.2706@gmail.com" target="_blank">Rafael S. de Souza</a>
    <br/>
 <!-- repo -->
                <a href="https://github.com/COINtoolbox" target="_blank">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#333333" d="{{ site.gh_logo }}"/>
                </svg>
              </span>
	      COINtoolbox</a>
    <br/>
  </div>
</div>
