<div class="media">
  <a href="{{ site.astropy_url }}">
  <img class="media-object pull-left" src="{{page.root}}/img/members/glue.png" alt="Astropy" />
  </a>
  <div id="astropy" class="media-body">
    <a href="{{ site.glue_url }}" class="project" target="_blank">Glue</a>
    is a data visualization application and library to explore relationships
    within and among related datasets. Its main features include linked
    statistical graphs, flexible linking across data, and full Python scripting
    capability.
    <br/>
 <!-- repo -->
               <a href="https://github.com/glue-viz/glue" target="_blank">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#333333" d="{{ site.gh_logo }}"/>
                </svg>
              </span>
	      astropy/astropy</a>
    <br/>
<!-- mail -->
             <span class="icon  icon-envelope"> </span>
      <a href="{{ site.glue_mailinglist_user }}">users</a>,
      <a href="{{ site.glue_mailinglist_dev }}">dev</a> <br/>
  </div>
</div>
