<div class="media">
  <a href="{{ site.gnuastro_url }}">
  <img class="media-object pull-left" src="{{ '/img/members/gnuastro.svg' | prepend: site.baseurl }}" alt="GNU Logo" />
  </a>
  <div id="gnuastro" class="media-body">
      <a href="{{ site.gnuastro_url }}" class="project"
      target="_blank">GNU Astronomy Utilities</a> (Gnuastro) is an
      official GNU package consisting of
      many <a href="https://www.gnu.org/software/gnuastro/manual/html_node/Gnuastro-programs-list.html"
      target="_blank">command-line programs</a>
      and <a href="https://www.gnu.org/software/gnuastro/manual/html_node/Gnuastro-library.html"
      target="_blank">library functions</a> for the manipulation and
      analysis of astronomical data. All the programs share the same
      basic and familiar (GNU style) command-line user interface for
      the comfort of both the users and developers. Gnuastro is
      written to comply fully with the GNU coding standards so it
      blends nicely with all Unix-like operating systems. This also
      enables astronomers to expect a fully familiar experience in the
      source code, building, installing and command-line user
      interaction. Gnuastro also has a very
      complete <a href="https://www.gnu.org/software/gnuastro/manual/index.html"
      target="_blank">book/manual</a>,
      the <a href="https://www.gnu.org/software/gnuastro/manual/html_node/Tutorials.html"
      target="_blank">tutorials</a> is the best place to start using
      it.

      <br/>

 <!-- repo -->
               <a href="https://git.savannah.gnu.org/cgit/gnuastro.git/" target="_blank">
              <span class="icon  icon--cgit">
                <img class="media-object pull-left" src="{{page.root}}/img/icons/cgit.png" alt="Cgit logo" />
              </span>
	      gnuastro</a>
	       <br/>

<!-- mail -->
             <span class="icon  icon-envelope"> </span>
      <a href="{{ site.gnuastro_mailinglist_user }}">users</a>,
      <a href="{{ site.gnuastro_mailinglist_dev }}">dev</a> <br/>
    <br/>
  </div>
</div>
