<div class="media">
  <a href="{{ site.heliopy_url }}">
  <img class="media-object pull-left" src="{{page.root}}/img/members/heliopy.png" alt="HelioPy" />
  </a>
  <div id="heliopy" class="media-body">
    <a href="{{ site.heliopy_url }}" class="project" target="_blank">HelioPy</a>
    is a python package for space physics, that aims to provide the tools to
    find, download and analyse spacecraft data from across the whole
    solar system.
    <br/>
 <!-- repo -->
                <a href="https://github.com/heliopython/heliopy" target="_blank">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#333333" d="{{ site.gh_logo }}"/>
                </svg>
              </span>
	      heliopy</a>
    <br/>
<!-- mail -->
             <span class="icon  icon-envelope"> </span>
      <a href="{{ site.heliopy_mailinglist }}">Mailing list</a> <br/>
<!-- irc -->
      <a href="{{ site.heliopy_riot }}">
              <span class="icon  icon--github">
                <svg viewBox="0 0 40 40" height="50%">
                  <path fill="#333333" d="{{ site.irc_logo }}"/>
                </svg>
              </span>
	      #heliopy:matrix.org</a>
  </div>
</div>
