
<div class="media">
  <a href="{{ site.ims_url }}">
  <img class="media-object pull-left" src="{{page.root}}/img/members/marssoceity-italia320.png" alt="IMS" />
  </a>
  <div id="ims" class="media-body">
    The <a href="{{ site.ims_url }}" class="project" target="_blank">Italian Mars Society</a> (IMS)
    is a non-profit organization, existing from 2004, as Italian branch of the International Mars Society,
    created in the USA by Robert Zubrin.
    IMS is a member of the Mars Society European network.
    The foundation scope of the Italian Mars Society is to promote research projects devoted to Mars Exploration
    and the involvement of SMEs and large enterprises in the new economy related to space exploration.

    IMS is currently spearheading the European
    <a href="{{ site.ims_eras_url }}">MaRs Analog Station for Advanced Technologies Integration</a> (ERAS) project.
    The project aims to address the major issues that could jeopardize a crewed mission to Mars
    and are not adequately being addressed at existing terrestrial Mars analogs.
    <br/>
 <!-- repo -->
               <a href="{{ site.ims_repository }}" target="_blank">
              <span class="icon  icon--github">
                <svg height="50%" viewBox="0 0 30 30">
                  <path fill="#333333" d="{{ site.bb_logo }}"/>
                </svg>
              </span>
	      ERAS project</a>
    <br/>
<!-- mail -->
             <span class="icon  icon-envelope"> </span>
      <a href="{{ site.ims_mailinglist }}">Mailing list</a>,
  </div>
</div>
