<div class="media">
  <a href="{{ site.juliaastro_url }}">
  <img class="media-object pull-left" src="{{page.root}}/img/members/juliaastro.svg" alt="JuliaAstro Logo" />
  </a>
  <div id="juliaastro" class="media-body">
    <a href="{{ site.juliaastro_url }}" class="project" target="_blank">JuliaAstro</a> is an organization that shepherds the development of community astronomy and astrophysics packages for Julia. These include packages for widely used functionality such as FITS file I/O, world coordinate systems and cosmological distance calculations.
    <br/>
 <!-- repo -->
                <a href="https://github.com/juliaasto/" target="_blank">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#333333" d="{{ site.gh_logo }}"/>
                </svg>
              </span>
	      JuliaAstro</a>
    <br/>
<!-- mail -->
             <span class="icon  icon-envelope"> </span>
      <a href="{{ site.juliaastro_mailinglist_user }}">Mailing List</a>
  </div>
</div>
