<div class="media">
  <a href="{{ site.plasmapy_url }}">
  <img class="media-object pull-left" src="{{ '/img/members/plasmapy.png' | prepend: site.baseurl }}" alt="PlasmaPy" />
  </a>
  <div id="plasmapy" class="media-body">
    <a href="{{ site.plasmapy_url }}" class="project" target="_blank">PlasmaPy</a>
    aims to be a collection of functionality commonly used and shared between
    plasma physicists and researchers globally, running within and leveraging
    the open source scientific Python ecosystem.
    <br/>
 <!-- repo -->
                <a href="https://github.com/plasmapy/plasmapy" target="_blank">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#333333" d="{{ site.gh_logo }}"/>
                </svg>
              </span>
	      plasmapy/plasmapy</a>
    <br/>
<!-- mail -->
             <span class="icon  icon-envelope"> </span>
      <a href="{{ site.plasmapy_mailinglist }}">Mailing list</a> <br/>
<!-- irc -->
      <a href="{{ site.plasmapy_riot }}">
              <span class="icon  icon--github">
                <svg viewBox="0 0 40 40" height="50%">
                  <path fill="#333333" d="{{ site.irc_logo }}"/>
                </svg>
              </span>
	      #plasmapy:matrix.org</a>
  </div>
</div>
