<div class="media">
  <a href="{{ site.poliastro_url }}">
  <img class="media-object pull-left" src="{{page.root}}/img/members/poliastro.png" alt="poliastro" />
  </a>
  <div id="poliastro" class="media-body">
    <a href="{{ site.poliastro_url }}" class="project" target="_blank">poliastro</a>
    is a python package for Astrodynamics and Orbital Mechanics problems,
    such as orbital elements conversion, orbital propagation, plotting,
    planetary ephemerides computation, and more.
    <br/>
    <br/>
                <a href="https://github.com/poliastro/poliastro" target="_blank">
              <span class="icon  icon--github">
                <svg height="50%" viewBox="0 0 30 30">
                  <path fill="#333333" d="{{ site.bb_logo }}"/>
                </svg>
              </span>
	      poliastro/poliastro</a>
    <br/>
<!-- mail -->
             <span class="icon  icon-envelope"> </span>
      <a href="{{ site.poliastro_mailinglist_dev }}">poliastro-dev</a> <br/>
<!-- irc -->
      <a href="{{ site.poliastro_riot }}">
              <span class="icon  icon--github">
                <svg viewBox="0 0 40 40" height="50%">
                  <path fill="#333333" d="{{ site.irc_logo }}"/>
                </svg>
              </span>
	      #poliastro:matrix.org</a>
  </div>
</div>
