<div class="media">
  <a href="{{ site.sherpa_url }}">
  <img class="media-object pull-left" src="{{page.root}}/img/members/sherpa_logo.gif" alt="Sherpa Logo" />
  </a>
  <div id="sherpa" class="media-body">
      <a href="{{ site.sherpa_url }}" class="project" target="_blank">Sherpa</a> Sherpa is a modeling
      and fitting application for Python. It contains a powerful language for combining simple models
      into complex expressions that can be fit to the data using a variety of statistics and
      optimization methods. It is easily extensible to include user models, statistics and
      optimization methods.

      <br/>
 <!-- repo -->
 <a href="{{ site.sherpa_repo }}" target="_blank">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#333333" d="{{ site.gh_logo }}"/>
                </svg>
              </span>
	      Sherpa</a>
    <br/>
  </div>
</div>
