<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/members/sunpy.png" alt="SunPy" />
  <div id="sunpy" class="media-body">
    <a href="{{ site.sunpy_url }}" class="project">SunPy</a>
    is a community-developed free and open-source software package
    for solar physics. SunPy is meant to be a free alternative to
    the <a href="http://www.lmsal.com/solarsoft/">SolarSoft</a>
    and its aim is to provide the software tools
    necessary so that anyone can analyze solar data. 
    <br/>
    Mailing list:
      <a href="{{ site.sunpy_mailinglist_user }}">users</a>,
      <a href="{{ site.sunpy_mailinglist_dev }}">dev</a>; <br/>
    IRC: <a href="{{ site.irc_freenode }}#{{ site.sunpy_irc }}">#sunpy@freenode</a>
  </div>
</div>
