<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/members/sunpy.png" alt="SunPy" />
  <div id="sunpy" class="media-body">
    <a href="{{ site.sunpy_url }}" class="project">SunPy</a>
    is a community-developed free and open-source software package
    for solar physics. SunPy is meant to be a free alternative to
    the <a href="http://www.lmsal.com/solarsoft/">SolarSoft</a>
    and its aim is to provide the software tools
    necessary so that anyone can analyze solar data. 
    <br/>
 <!-- repo -->
                <a href="https://github.com/sunpy/sunpy">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#000000" d="{{ site.gh_logo }}"/>
                </svg>
              </span>
	      sunpy/sunpy</a>
    <br/>
<!-- mail -->
             <span class="icon  icon-envelope"> </span>
      <a href="{{ site.sunpy_mailinglist_user }}">users</a>,
      <a href="{{ site.sunpy_mailinglist_dev }}">dev</a> <br/>
<!-- irc -->
      <a href="{{ site.irc_freenode }}#{{ site.sunpy_irc }}">
              <span class="icon  icon--github">
                <svg viewBox="0 0 40 40" height="50%">
                  <path fill="#000000" d="{{ site.irc_logo }}"/>
                </svg>
              </span>
	      #sunpy@freenode</a>
  </div>
</div>
