<div class="media">
  <a href="{{ site.sunpy_url }}">
  <img class="media-object pull-left" src="{{ '/img/members/sunpy.png' | prepend: site.baseurl }}" alt="SunPy" />
  </a>
  <div id="sunpy" class="media-body">
    <a href="{{ site.sunpy_url }}" class="project" target="_blank">SunPy</a>
    is a community-developed free and open-source software package
    for solar physics. SunPy is meant to be a free alternative to
    the <a href="http://www.lmsal.com/solarsoft/" target="_blank">SolarSoft</a>
    and its aim is to provide the software tools
    necessary so that anyone can analyze solar data. 
    <br/>
 <!-- repo -->
                <a href="https://github.com/sunpy/sunpy" target="_blank">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#333333" d="{{ site.gh_logo }}"/>
                </svg>
              </span>
	      sunpy/sunpy</a>
    <br/>
<!-- mail -->
             <span class="icon  icon-envelope"> </span>
      <a href="{{ site.sunpy_mailinglist_user }}">users</a>,
      <a href="{{ site.sunpy_mailinglist_dev }}">dev</a> <br/>
<!-- irc -->
      <a href="{{ site.sunpy_riot }}">
              <span class="icon  icon--github">
                <svg viewBox="0 0 40 40" height="50%">
                  <path fill="#333333" d="{{ site.irc_logo }}"/>
                </svg>
              </span>
	      #sunpy:matrix.org</a>
  </div>
</div>
