<div class="media">
  <a href="{{ site.timelab_url }}">
  <img class="media-object pull-left" src="{{ '/img/members/timelab.png' | prepend: site.baseurl }}" alt="TimeLab Logo" />
  </a>
  <div id="timelab" class="media-body">
    <a href="{{ site.timelab_url }}" class="project" target="_blank"> TimeLab </a>: we are a team of astrophysicists 
    and software developers working together to build a variability analysis software to study black holes and fundamental 
    physics under extreme conditions.
    <br/>
 <!-- repo -->
                <a href="https://github.com/StingraySoftware/" target="_blank">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#333333" d="{{ site.gh_logo }}"/>
                </svg>
              </span>
	      Timelab</a>
      	      <a href="{{ site.timelab_slack }}">
              <span class="icon  icon--github">
                <svg viewBox="0 0 40 40" height="50%">
                  <path fill="#333333" d="{{ site.irc_logo }}"/>
                </svg>
              </span>
	      Join us on Slack!</a>
	  
    <br/>
  </div>
</div>
