<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/members/yt-project.png" alt="yt" />
  <div id="yt" class="media-body">
    <a href="{{ site.yt_url }}" class="project">yt</a>
    is a python package for analyzing and visualizing volumetric,
    multi-resolution data from astrophysical simulations,
    radio telescopes, and a burgeoning interdisciplinary community.
    <br/>
    Mailing lists:
      <a href="{{ site.yt_mailinglist_user }}">yt-users</a>,
      <a href="{{ site.yt_mailinglist_dev }}">yt-dev</a>; <br/>
    IRC: <a href="{{ site.irc_freenode }}#{{ site.yt_irc }}">#yt@freenode</a>
      <a href=""></a>
  </div>
</div>
