<div class="media">
  <img class="media-object pull-left" src="{{page.root}}/img/members/yt.png" alt="yt" />
  <div id="yt" class="media-body">
    <a href="{{ site.yt_url }}" class="project">yt</a>
    is a python package for analyzing and visualizing volumetric,
    multi-resolution data from astrophysical simulations,
    radio telescopes, and a burgeoning interdisciplinary community.
    <br/>
    <br/>
                <a href="https://bitbucket.org/yt_analysis/yt">
              <span class="icon  icon--github">
                <svg height="50%" viewBox="0 0 30 30">
                  <path fill="#000000" d="{{ site.bb_logo }}"/>
                </svg>
              </span>
	      yt_analysis/yt</a>
    <br/>
<!-- mail -->
             <span class="icon  icon-envelope"> </span>
      <a href="{{ site.yt_mailinglist_user }}">yt-users</a>,
      <a href="{{ site.yt_mailinglist_dev }}">yt-dev</a> <br/>
<!-- irc -->
      <a href="{{ site.irc_freenode }}#{{ site.yt_irc }}">
              <span class="icon  icon--github">
                <svg viewBox="0 0 40 40" height="50%">
                  <path fill="#000000" d="{{ site.irc_logo }}"/>
                </svg>
              </span>
	      #yt@freenode</a>
  </div>
</div>
