<!DOCTYPE html>
<html lang="en" ng-app="coala">
    {% include_cached head.html project="true" %}
<body>

    {% include_cached header.html %}

    <div class="projects" > <!-- To keep the css separated -->
    <div class="page-content">
    <main ng-app="gsoc">
    <div ng-controller="TabController as tc">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs uppercase">
                        <li class="tab col-md-4"><a name="/projects" ng-click="tc.setTab('/projects')" ng-class="{active:tc.isSet('/projects')}">Projects</a></li>
                        <li class="tab col-md-4"><a name="/mentors" ng-click="tc.setTab('/mentors')" ng-class="{active:tc.isSet('/mentors')}">Mentors</a></li>
                        <li class="tab col-md-4"><a name="/faq" ng-click="tc.setTab('/faq')" ng-class="{active:tc.isSet('/faq')}">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-view=""></div>
    </div>
    </main>
    </div>
    </div>

    {% include_cached footer.html %}

</body>
</html>

<script type="text/javascript">
$(document).ready(function () {
    $('select').material_select();
    //$('ul.tabs').tabs();
    $('.github-card').html('<img src="http://placehold.it/100x100" />')
})
</script>
